@model Comercios.ViewModel.CarritoViewModel

@{
    ViewBag.Title = "IndexCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mi Carrito</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


@if (Model.pedido != null && Model.pedido.items != null && Model.pedido.items.Count != 0)
{
<table class="table">
    <tr>
        <th>            
            @Html.DisplayNameFor(model => model.item.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.costoItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.cantidad)
        </th>
        <th></th>
    </tr>


    @foreach (var it in Model.pedido.items) {
    <tr>
        <td>
            @Html.DisplayFor(p => it.producto.Id)
        </td>
        <td>
            @Html.DisplayFor(p => it.producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(p => it.costoItem)
        </td>
        <td>
            @Html.DisplayFor(p => it.cantidad)
        </td>
        <td>            
            @Html.ActionLink("Sumar una unidad", "SumarUnProducto", new { id = it.producto.Id }) |
            @Html.ActionLink("Quitar una unidad", "RestarUnProducto", new { id = it.producto.Id }) |
            @Html.ActionLink("Eliminar producto", "EliminarProductoCarrito", new { id = it.producto.Id})
        </td>
    </tr>
        }    
</table>

    @*<input type="button" value="Confirmar Pedido" onclick="confirmarPedido"/>*@
    @Html.ActionLink("Confirmar Pedido", "confirmarPedido", "Pedidoes")
}
else if(Model.pedido == null)
{
    <h3>El carrito no tiene productos. A comprar!!</h3>
}