@model Comercios.ViewModel.CarritoViewModel

@{
    ViewBag.Title = "ProductosPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos del pedido @Html.DisplayFor(model => model.pedido.Id)</h2>
<br /> 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.item.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item.producto.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item.costoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item.cantidad)
            </th>
            <th></th>
        </tr>


        @foreach (var it in Model.pedido.items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(p => it.producto.Id)
                </td>
                <td>
                    @Html.DisplayFor(p => it.producto.nombre)
                </td>
                <td>
                    @Html.DisplayFor(p => it.costoItem)
                </td>
                <td>
                    @Html.DisplayFor(p => it.cantidad)
                </td>                
            </tr>
        }
    </table>    

@Html.ActionLink("Volver al detalle", "Details", new { id = Model.pedido.Id })  
