@model Comercios.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioSugerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioSugerido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiempoPrevisto)
        </dt>

        <dd>
            @if (Model.tiempoPrevisto != null)
            {
                @Html.DisplayFor(model => model.tiempoPrevisto)
            }
            else
            {
                <p>--</p>;
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paisOrigen)
        </dt>

        <dd>
            @if (Model.paisOrigen != null)
            {
                @Html.DisplayFor(model => model.paisOrigen)
            }
            else
            {
                <p>--</p>;
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadMinima)
        </dt>

        <dd>
            @if (Model.paisOrigen != null)
            {
                @Html.DisplayFor(model => model.cantidadMinima)
            }
            else
            {
                <p>--</p>;
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a Productos", "Index")
</p>
