@model IEnumerable<Comercios.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Productos</h2>
<br />
@using (Html.BeginForm())
{
    <div id="radioButtonsDiv">
        <div id="busquedaCodigoDivRbtn" style="display: inline">
            @Html.RadioButton("Busqueda", "Codigo") Busqueda Por Codigo
        </div>
        <div id="busquedaNombreDivRbtn" style="display: inline; margin-left: 4px;">
            @Html.RadioButton("Busqueda", "Nombre") Busqueda Por Nombre
        </div>
        <div id="busquedaDescripcionDivRbtn" style="display: inline; margin-left: 4px;">
            @Html.RadioButton("Busqueda", "Descripcion") Busqueda Por Descripción
        </div>
        <div id="busquedaRangoPreciosDivRbtn" style="display: inline; margin-left: 4px;">
            @Html.RadioButton("Busqueda", "RangoPrecios") Busqueda Por Rango De Precios
        </div>
        <div id="busquedaTipoDivRbtn" style="display: inline; margin-left: 4px;">
            @Html.RadioButton("Busqueda", "Tipo") Busqueda Por Tipo De Producto
        </div>
    </div>
    <br />

    <div>
        <div id="buscarCodigo" hidden class="editor-field">
            @Html.TextBox("SearchStringCodigo", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese El Codigo Identificador Del Producto", @style = "display:inline-block" })
            <input class="btn btn-lg btn-success" style="display:inline-block; margin-left: 10px;" type="submit" value="Buscar" />
        </div>

        <div id="buscarNombre" hidden class="editor-field">
            <div>
                @Html.TextBox("SearchStringNombre", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese El Nombre Del Producto", @style = "display:inline-block" })
                <input class="btn btn-lg btn-success" style="display:inline-block; margin-left: 10px;" type="submit" value="Buscar" />
            </div>
        </div>
        <div id="buscarDescripcion" hidden>
            @Html.TextBox("SearchStringDescripcion", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese La Descripción Del Producto", @style = "display:inline-block" })
            <input class="btn btn-lg btn-success" style="display:inline-block; margin-left: 10px;" type="submit" value="Buscar" />
        </div>
        <div id="buscarRango" hidden>
            @Html.TextBox("SearchStringCostoInicial", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese El Costo Inicial", @style = "display:inline-block" })
            @Html.TextBox("SearchStringCostoFinal", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese El Costo Final", @style = "display:inline-block" })
            <input class="btn btn-lg btn-success" style="display:inline-block; margin-left: 10px;" type="submit" value="Buscar" />
        </div>
        <div id="buscarTipo" hidden>
            @*@Html.TextBox*@@*("SearchStringTipo", null, new { @class = "form-control form-control-lg form-control-borderless", @type = "search", @placeholder = "Ingrese El Tipo De Producto", @style = "display:inline-block" })*@

            @{ List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem { Text = "Importado", Value = "Importado" });
                listItems.Add(new SelectListItem { Text = "Fabricado", Value = "Fabricado" });
            }
            @Html.DropDownList("Tipo", listItems, "-- Seleccione el Tipo de Producto --")
            <input class="btn btn-lg btn-success" style="display:inline-block; margin-left: 10px;" type="submit" value="Buscar" />
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(function () {
            $("input[name=Busqueda]").click(function () {
                if ($(this).val() == "Codigo") {
                    $("#buscarCodigo").show();
                    $("#buscarNombre").hide();
                    $("#buscarDescripcion").hide();
                    $("#buscarRango").hide();
                    $("#buscarTipo").hide();
                } else if ($(this).val() == "Nombre") {
                    $("#buscarCodigo").hide();
                    $("#buscarNombre").show();
                    $("#buscarDescripcion").hide();
                    $("#buscarRango").hide();
                    $("#buscarTipo").hide();
                } else if ($(this).val() == "Descripcion") {
                    $("#buscarCodigo").hide();
                    $("#buscarNombre").hide();
                    $("#buscarDescripcion").show();
                    $("#buscarRango").hide();
                    $("#buscarTipo").hide();
                } else if ($(this).val() == "RangoPrecios") {
                    $("#buscarCodigo").hide();
                    $("#buscarNombre").hide();
                    $("#buscarDescripcion").hide();
                    $("#buscarRango").show();
                    $("#buscarTipo").hide();
                } else if ($(this).val() == "Tipo") {
                    $("#buscarCodigo").hide();
                    $("#buscarNombre").hide();
                    $("#buscarDescripcion").hide();
                    $("#buscarRango").hide();
                    $("#buscarTipo").show();
                }
            });
        });
    </script>


                }
<br />
<table class="table" style="margin-top: 15px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioSugerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoPrevisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paisOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadMinima)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @if (!item.precioSugerido.ToString().IsEmpty())
                {
                    @Html.DisplayFor(modelItem => item.precioSugerido)
                }else
                {
                    <p>--</p>;
                }
            </td>
            <td>
                @if (item.tiempoPrevisto != null || !item.tiempoPrevisto.ToString().IsEmpty())
                {
                    @Html.DisplayFor(modelItem => item.tiempoPrevisto)
                }else
                {
                    <p>--</p>;
                }
            </td>
            <td>
                @if (item.paisOrigen != null || !item.paisOrigen.IsEmpty())
                {
                    @Html.DisplayFor(modelItem => item.paisOrigen)
                }else
                {
                    <p>--</p>;
                }
            </td>
            <td>
                @if (item.cantidadMinima != null || !item.cantidadMinima.ToString().IsEmpty())
                {
                    @Html.DisplayFor(modelItem => item.cantidadMinima)
                }else
                {
                    <p>--</p>;
                }
            </td>
            <td>
                @if (Session["Rol"] != null && Session["Rol"].Equals("empleado"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <text> |</text>
                }
                else
                {
                    @Html.ActionLink("Agregar a carrito", "agregarProductoAPedido", new { id = item.Id }) <text> |</text>
}
                @Html.ActionLink("Detalle", "Details", new { id = item.Id })                             
            </td>
        </tr>
    }

</table>
